@model ICT272_Project.Models.TravelAgency

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TravelAgency</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgencyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgencyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesOffered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesOffered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AgencyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
